# Ignore everything by default
/*

# Keep this file tracked
!/.gitignore

# Keep the LaTeX sources
!/*.tex

# Keep markdowns
!/*.md

# Keep the content folders
!/images/
!/images/**
!/sections/
!/sections/**